/* General Body Styles */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: lightblue;
}

/* Container for the whole page */
.container {
    width: 100%;
    max-width: 800px;
    padding: 30px;
    background-color: darkcyan;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

/* Header Style */
h2 {
    text-align: center;
    margin-bottom: 20px;
}

/* Language Selection */
.language-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.language-container select {
    padding: 10px;
    width: 45%;
}

/* Form Container */
.form-container {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

/* Textarea Container for input and output */
.textarea-container {
    position: relative;
    width: 50%;
    margin-bottom: 20px;
}

textarea {
    width: 100%;
    padding: 10px;
    height: 100px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    position: relative;
}

/* Microphone Icon (STT) inside the textareas */
.stt-icon {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 24px;
    cursor: pointer;
}

/* Arrow Style between input and output text areas */
.arrows {
    text-align: center;
    margin: 10px 10px;
}

.arrows i {
    font-size: 24px;
    color: #555;
    margin: 0 10px;
}

/* Translate Button */
.translate-btn {
    padding: 12px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
}

.translate-btn:hover {
    background-color: #45a049;
}

/* TTS Button for translated text */
.tts-btn {
    padding: 10px 20px;
    background-color: #1E88E5;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
    display: block;
    width: 100%;
}

.tts-btn:hover {
    background-color: #1565c0;
}
